body {
    background: url("../images/food.png");
    min-height: 400px;
    margin-bottom: 100px;
}

h1 {
    margin: 20px;
    font-family: 'Nova Cut', cursive;
}

footer {
    position: fixed;
    height: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 2px solid black;
    background-color: whitesmoke;
}

nav {
    margin-left: 20px;
    border-top: thin orange solid;
    border-bottom: thin orange solid;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
}

.activeColor {
    background-color: orange;
}

.btn {
    background-color: orange;
    color: #fef9ff; 
    margin: 15px;
    padding: 10px;
}

a:link {
    color: white;
}

a:visited {
    color:orangered;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}